{% extends "base.html" %} 
{% block content %} 


  <!-- blog section -->

  <section class="blog_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 ml-auto">
          <div class="heading_container">
            <h2>
              Latest Blog
            </h2>
            <p>
              iusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis n
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pl-0">
          <div class="box b1">
            <div class="img-box">
              <img src="images/b1.jpg" alt="">
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10 ml-auto">
                <div class="detail-box">
                  <div class="img_date">
                    <h6>
                      17 <br>
                      Feb
                    </h6>
                  </div>
                  <h3>
                    Boxer Joniya Daro
                  </h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  </p>
                  <a href="">
                    Read More
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 pr-0">
          <div class="box b2">
            <div class="img-box">
              <img src="images/b2.jpg" alt="">
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-10 mr-auto">
                <div class="detail-box">
                  <div class="img_date">
                    <h6>
                      17 <br>
                      Jun
                    </h6>
                  </div>
                  <h3>
                    Boxer Joniya Daro
                  </h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  </p>
                  <a href="">
                    Read More
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end blog section -->

  <!-- info section -->
  <div class="info_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 ml-auto">
          <div class="row info_main-row">
            <div class="col-md-6 pr-0">

              <!-- contact section -->

              <section class="contact_section">
                <h2>
                  Request A Call Back
                </h2>
                <form method="POST">
                  {% csrf_token %}
                 <!-- {{form}}   -->
                   <div>
                    <input type="text" placeholder="Name" name="name" value='{{data.name}}'/>
                  </div>
                  <div>
                    <input type="text" placeholder="Phone Number" name="phone" value='{{data.phone}}'/>
                  </div>
                  <div>
                    <input type="email" placeholder="Email"  name="email" value='{{data.email}}'/>
                  </div>
                  <div>
                    <input type="text" class="message-box" placeholder="Message" name="message"  value='{{data.message}}'/>
                  </div> 
                  <div class="d-flex">
                    <button type="submit">
                      SEND
                    </button>
                  </div>
                </form>
                <div class="map_container">
                  <div class="map">
                    <div id="googleMap" style="width:100%;height:300px;"></div>
                  </div>
                </div>
              </section>

              <!-- end contact section -->




{% endblock %}              