<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <title>Calculator</title>
</head>
<body>

<form method="POST" style="text-align: center; background-color: #eee; margin: 50px;">
    {% csrf_token %}

    {{form}}
    <!-- <div>
       <input type="text" placeholder="Number 1" name="num1" class="form-control"/>
    </div>
    <div>
        <select name="operation" class="form-control">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>    
    </div>
    <div>
      <input type="text" placeholder="Number 2"  name="num2" class="form-control"/>
    </div> -->
    <div class="d-flex">
      <button type="submit">
        SEND
      </button>
    </div>

    <div>
        <input type="text" placeholder="result" value="{{result}}"/>
    </div>
  </form>

</body>
