{% extends "base.html" %} 
{% block content %} 
  </div>


  <!-- class section -->

  <section class="class_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
          <div class="class_container">
            <div class="row">
              <div class="col-lg-9 col-md-10">
                <div class="heading_container">
                  <h2>
                    Our Classes Videos
                  </h2>
                  <p>
                    iusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis n
                    ostrud exercitation ullamco laboris iusmod tempor incididunt ut labore et dolore
                  </p>
                </div>
              </div>
            </div>
            <div class="class_box-container">
              <div class="owl-carousel owl_carousel1">
                <div class="item">
                  <div class="box">
                    <div class="img-box">
                      <img src="/static/images/c1.jpg" alt="">
                      <div class="detail-box">
                        <button>
                          <img src="/static/images/play-icon.png" alt="">
                        </button>
                        <h2>
                          Boxing
                        </h2>
                      </div>
                    </div>
                    <div class="btn-box">
                      <a href="">
                        See More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="box">
                    <div class="img-box">
                      <img src="/static/images/c2.jpg" alt="">
                      <div class="detail-box">
                        <button>
                          <img src="/static/images/play-icon.png" alt="">
                        </button>
                        <h2>
                          Boxing
                        </h2>
                      </div>
                    </div>
                    <div class="btn-box">
                      <a href="">
                        See More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="box">
                    <div class="img-box">
                      <img src="/static/images/c1.jpg" alt="">
                      <div class="detail-box">
                        <button>
                          <img src="/static/images/play-icon.png" alt="">
                        </button>
                        <h2>
                          Boxing
                        </h2>
                      </div>
                    </div>
                    <div class="btn-box">
                      <a href="">
                        See More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="box">
                    <div class="img-box">
                      <img src="/static/images/c2.jpg" alt="">
                      <div class="detail-box">
                        <button>
                          <img src="/static/images/play-icon.png" alt="">
                        </button>
                        <h2>
                          Boxing
                        </h2>
                      </div>
                    </div>
                    <div class="btn-box">
                      <a href="">
                        See More
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end class section -->


  <!-- info section -->
  <div class="info_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 ml-auto">
          <div class="row info_main-row">
            <div class="col-md-6 pr-0">

              <!-- contact section -->

              <section class="contact_section">
                <h2>
                  Request A Call Back
                </h2>
                <form action="">
                  <div>
                    <input type="text" placeholder="Name" />
                  </div>
                  <div>
                    <input type="text" placeholder="Phone Number" />
                  </div>
                  <div>
                    <input type="email" placeholder="Email" />
                  </div>
                  <div>
                    <input type="text" class="message-box" placeholder="Message" />
                  </div>
                  <div class="d-flex ">
                    <button>
                      SEND
                    </button>
                  </div>
                </form>
                <div class="map_container">
                  <div class="map">
                    <div id="googleMap" style="width:100%;height:300px;"></div>
                  </div>
                </div>
              </section>

              <!-- end contact section -->

{% endblock %}